<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.system.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.system.entity.Student">
        <id column="STUDENT_ID" property="studentId" />
        <result column="STUDENT_NAME" property="studentName"/>
        <result column="STUDENT_SEX" property="studentSex"/>
        <result column="STUDENT_AGE" property="studentAge"/>
        <result column="STUDENT_PHONE" property="studentPhone"/>
    </resultMap>

    <sql id="Base_Column_List">
        STUDENT_ID AS studentId, STUDENT_NAME AS studentName, STUDENT_SEX AS studentSex,
        STUDENT_AGE AS studentAge, STUDENT_PHONE AS studentPhone
    </sql>

    <select id="selectStudents" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_student
        <if test="studentId != null">
            where STUDENT_ID like CONCAT('%',#{studentId},'%')
        </if>
        order by STUDENT_ID asc
    </select>
</mapper>