<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.api.mapper.TAgentAccountFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.api.entity.TAgentAccountFlow">
        <id column="id" property="id" />
        <result column="agent_id" property="agentId" />
        <result column="agent_name" property="agentName" />
        <result column="balance" property="balance" />
        <result column="amount" property="amount" />
        <result column="biz_type" property="bizType" />
        <result column="direction" property="direction" />
        <result column="trade_no" property="tradeNo" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, agent_id, agent_name, balance, amount, biz_type, direction, trade_no, create_time
    </sql>

</mapper>
