<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.api.mapper.TPlatformRateChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.api.entity.TPlatformRateChannel">
        <id column="id" property="id" />
        <result column="channel" property="channel" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="cost_rate" property="costRate" />
        <result column="cash_rate" property="cashRate" />
        <result column="channel_no" property="channelNo" />
        <result column="channel_mer_app_id" property="channelMerAppId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channel, bank_code as bankCode, bank_name as bankName, cost_rate as costRate, channel_no,channel_mer_app_id, create_time as createTime
    </sql>

    <select id="findAll" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from t_platform_rate_channel where 1=1
        <if test="channel != null and channel != ''">
            and channel = #{channel}
        </if>
        order by create_time  desc
    </select>

</mapper>
