<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.api.mapper.TCardAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.api.entity.TCardAuth">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="mch_id" property="mchId" />
        <result column="auth_type" property="authType" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="id_type" property="idType" />
        <result column="id_no" property="idNo" />
        <result column="realname" property="realname" />
        <result column="mobile" property="mobile" />
        <result column="card_no" property="cardNo" />
        <result column="card_type" property="cardType" />
        <result column="cvv" property="cvv" />
        <result column="valid_date" property="validDate" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id AS deptId,mch_id AS mchId, auth_type AS authType,amount,status,id_no AS idNo,realname,mobile,card_no AS cardNo,card_type AS cardType,create_time AS createTime
    </sql>

    <select id="findAll" resultType="map">
    	select
        <include refid="Base_Column_List"/>
     	from t_card_auth where 1=1
     	<if test="join != null and join !=''">
            and dept_id in (${join})
        </if>
     	<if test="beginTime != null and beginTime !=''">
            and create_time &gt;= CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
        	and create_time &lt;= CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="deptId != null and deptId !=''">
            and dept_id = #{deptId}
        </if>
        order by create_time  desc
    </select>
    
    <select id="tongji" resultType="map">
    	select
        count(*) as authNum,sum(amount) as authAmount
     	from t_card_auth where 1=1
     	<if test="beginTime != null and beginTime !=''">
            and create_time &gt;= CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
        	and create_time &lt;= CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="deptId != null and deptId !=''">
            and dept_id = #{deptId}
        </if>
        and status in(1,2,3)
    </select>

</mapper>
