<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.api.mapper.TDeptRateChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.api.entity.TDeptRateChannel">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="channel" property="channel" />
        <result column="bank_name" property="bankName" />
        <result column="cost_rate" property="costRate" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, channel, bank_name, cost_rate, create_time
    </sql>

</mapper>
