<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.modular.api.mapper.TMchCardChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.modular.api.entity.TMchCardChannel">
        <id column="id" property="id" />
        <result column="card_id" property="cardId" />
        <result column="channel" property="channel" />
        <result column="protocol" property="protocol" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, card_id, channel, protocol, create_time
    </sql>

    <update id="updateStatus">
    	update t_mch_card_channel set status = #{status} where status = 1 and card_id = #{cardId} and channel=#{channel}
    </update>

    <update id="updateNotifyCount">
    	update t_mch_card_channel set notify_count = #{notifyCount},notify_result = #{notifyResult},notify_time = now()  where id = #{id}
    </update>

</mapper>
