<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.partner.modular.business.mapper.TDeptBankCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.partner.modular.business.entity.TDeptBankCard">
        <id column="dept_id" property="deptId" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="name" property="name" />
        <result column="id_no" property="idNo" />
        <result column="card_no" property="cardNo" />
        <result column="card_kind" property="cardKind" />
        <result column="card_type" property="cardType" />
        <result column="bank_line_no" property="bankLineNo" />
        <result column="bank_branch" property="bankBranch" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id as deptId, bank_code as bankCode, bank_name as bankName, name as name, id_no as idNo, card_no as cardNo, card_kind as cardKind, card_type as cardType, bank_line_no as bankLineNo, bank_branch as bankBranch
    </sql>

</mapper>
