<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.partner.modular.business.mapper.TDeptCashFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.partner.modular.business.entity.TDeptCashFlow">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="cash_amount" property="cashAmount" />
        <result column="cash_status" property="cashStatus" />
        <result column="cash_rate" property="cashRate" />
        <result column="cash_fee" property="cashFee" />
        <result column="out_amount" property="outAmount" />
        <result column="name" property="name" />
        <result column="card_no" property="cardNo" />
        <result column="bank_name" property="bankName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id as deptId, dept_name as deptName, cash_amount as cashAmount, cash_status as cashStatus, cash_rate as cashRate, cash_fee as cashFee, out_amount as outAmount, name, card_no as cardNo, bank_name as bankName, create_time createTime
    </sql>

    <select id="findAll" resultType="map">
    	select
        <include refid="Base_Column_List"/>
     	from t_dept_cash_flow where 1=1 

     	<if test="beginTime != null and beginTime !=''">
            and create_time &gt;= CONCAT(#{beginTime},' 00:00:00') 
        </if>
        <if test="endTime != null and endTime != ''">
        	and create_time &lt;= CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="cashStatusName != null and cashStatusName != ''">
        	and cash_status = #{cashStatusName}
        </if>
        <if test="id != null and id != ''">
        	and dept_id = #{id}
        </if>
        <if test="name != null and name != ''">
        	and name = #{name}
        </if>
        order by create_time  desc
    </select>

    <select id="find" resultType="cn.hawy.quick.partner.modular.business.entity.TDeptCashFlow">
    	select
        <include refid="Base_Column_List"/>
     	from t_dept_cash_flow where 1=1
     	<if test="join != null and join !=''">
            and dept_id in (${join})
        </if>
     	<if test="beginTime != null and beginTime !=''">
            and create_time &gt;= CONCAT(#{beginTime},' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
        	and create_time &lt;= CONCAT(#{endTime},' 23:59:59')
        </if>
        <if test="deptType != null and deptType != ''">
        	and dept_id like CONCAT(#{deptType},'%')
        </if>
        <if test="cashStatusName != null and cashStatusName != ''">
        	and cash_status = #{cashStatusName}
        </if>
        <if test="deptId != null and deptId != ''">
        	and dept_id = #{deptId}
        </if>
        <if test="name != null and name != ''">
        	and name = #{name}
        </if>
        order by create_time  desc
    </select>

</mapper>
