<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.partner.modular.business.mapper.TDeptOrderReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.partner.modular.business.entity.TDeptOrderReport">
        <id column="report_date" property="reportDate" />
        <result column="dept_id" property="deptId" />
        <result column="channel_no" property="channelNo" />
        <result column="order_num" property="orderNum" />
        <result column="order_amount" property="orderAmount" />
        <result column="order_dept_amount" property="orderDeptAmount" />
        <result column="order_cost_amount" property="orderCostAmount" />
        <result column="cash_num" property="cashNum" />
        <result column="cash_amount" property="cashAmount" />
        <result column="cash_dept_amount" property="cashDeptAmount" />
        <result column="cash_cost_amount" property="cashCostAmount" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        report_date as reportDate, dept_id as deptId, channel_no as channelNo, order_num as orderNum, order_amount as orderAmount, order_dept_amount as orderDeptAmount, order_cost_amount as orderCostAmount, cash_num as cashNum, cash_amount as cashAmount, cash_dept_amount as cashDeptAmount, cash_cost_amount as cashCostAmount, create_time as createTime
    </sql>

    <sql id="find_all">
        report_date as reportDate, a.dept_id as deptId,b.simple_name as deptName, channel_no as channelNo, order_num as orderNum, order_amount as orderAmount, order_dept_amount as orderDeptAmount, order_cost_amount as orderCostAmount, cash_num as cashNum, cash_amount as cashAmount, cash_dept_amount as cashDeptAmount, cash_cost_amount as cashCostAmount, a.create_time as createTime
    </sql>


    <select id="findAll" resultType="map">
        select
        <include refid="find_all"/>
        from t_dept_order_report a ,sys_dept b where a.dept_id = b.dept_id
        <if test="join != null and join !=''">
            and a.dept_id in (${join})
        </if>
        <if test="beginTime != null and beginTime !=''">
            and report_date &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and report_date &lt;= #{endTime}
        </if>
        <if test="deptId != null and deptId !=''">
            and a.dept_id = #{deptId}
        </if>
        <if test="channelNo != null and channelNo !=''">
            and channel_no = #{channelNo}
        </if>
        order by report_date  desc
    </select>

    <select id="find" resultType="cn.hawy.quick.partner.modular.business.dao.DeptOrderReportExcel">
        select
        <include refid="find_all"/>
        from t_dept_order_report a ,sys_dept b where a.dept_id = b.dept_id
        <if test="beginTime != null and beginTime !=''">
            and report_date &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and report_date &lt;= #{endTime}
        </if>
        <if test="deptId != null and deptId !=''">
            and a.dept_id = #{deptId}
        </if>
        <if test="channelNo != null and channelNo !=''">
            and channel_no = #{channelNo}
        </if>
        order by report_date  desc
    </select>

</mapper>
