<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hawy.quick.partner.modular.business.mapper.TDeptRateChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hawy.quick.partner.modular.business.entity.TDeptRateChannel">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="channel" property="channel" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="cost_rate" property="costRate" />
        <result column="cash_rate" property="cashRate" />
        <result column="card_auth_rate" property="cardAuthRate" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id as deptId, channel ,bank_code as bankCode, bank_name bankName, cost_rate as costRate,cash_rate as cashRate, card_auth_rate as cardAuthRate, create_time as createTime
    </sql>

    <select id="findAll" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from t_dept_rate_channel where 1=1
        and dept_id = #{deptId}
        <if test="channel != null and channel != ''">
            and channel = #{channel}
        </if>
        order by create_time  desc
    </select>

</mapper>
